.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity  1s linear , visibility 1s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition-delay: s;
    &.fade-out{
        opacity: 0;
    }


    img {
        width: 150px;
        aspect-ratio: 1 / 1 ;
        margin: 20px ; 
        display: block;
    }
}

    

